<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HFSJ</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestCookie</display-name>
    <servlet-name>TestCookie</servlet-name>
    <servlet-class>cookie.TestCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCookie</servlet-name>
    <url-pattern>/TestCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Example</display-name>
    <servlet-name>Example</servlet-name>
    <servlet-class>hf.ser.jsp.controller.Example</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example</servlet-name>
    <url-pattern>/Example</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamplePojo</display-name>
    <servlet-name>ExamplePojo</servlet-name>
    <servlet-class>listener.chap6.ExamplePojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamplePojo</servlet-name>
    <url-pattern>/ExamplePojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PojoDog</display-name>
    <servlet-name>PojoDog</servlet-name>
    <servlet-class>listener.chap6.PojoDog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PojoDog</servlet-name>
    <url-pattern>/PojoDog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessAttList</display-name>
    <servlet-name>SessAttList</servlet-name>
    <servlet-class>listener.chap6.SessAttList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessAttList</servlet-name>
    <url-pattern>/SessAttList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrySession</display-name>
    <servlet-name>TrySession</servlet-name>
    <servlet-class>listener.chap6.TrySession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrySession</servlet-name>
    <url-pattern>/TrySession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PropOfProp_Serv</display-name>
    <servlet-name>PropOfProp_Serv</servlet-name>
    <servlet-class>chap8.propOfProp.PropOfProp_Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropOfProp_Serv</servlet-name>
    <url-pattern>/PropOfProp_Serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EL_Serv</display-name>
    <servlet-name>EL_Serv</servlet-name>
    <servlet-class>chap8.EL.EL_Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EL_Serv</servlet-name>
    <url-pattern>/EL_Serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodeMagnets</display-name>
    <servlet-name>CodeMagnets</servlet-name>
    <servlet-class>chap8.CodeMagnets.CodeMagnets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeMagnets</servlet-name>
    <url-pattern>/CodeMagnets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>chap8.test.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ElRenders_Serv</display-name>
    <servlet-name>ElRenders_Serv</servlet-name>
    <servlet-class>chap8.ElRendersRawTextAndHtml.ElRenders_Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElRenders_Serv</servlet-name>
    <url-pattern>/ElRenders_Serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReqParamInEL</display-name>
    <servlet-name>ReqParamInEL</servlet-name>
    <servlet-class>chap8.ReqParamInEL.ReqParamInEL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqParamInEL</servlet-name>
    <url-pattern>/ReqParamInEL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>testing Cookie and intitParam in EL</description>
    <display-name>Test382</display-name>
    <servlet-name>Test382</servlet-name>
    <servlet-class>chap8.test.pg382.Test382</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test382</servlet-name>
    <url-pattern>/Test382</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>it sets Cookie and than test cookie &amp; initParam in EL</description>
    <display-name>Co_In_Serv</display-name>
    <servlet-name>Co_In_Serv</servlet-name>
    <servlet-class>chap8.Cookie_Init.Co_In_Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Co_In_Serv</servlet-name>
    <url-pattern>/Co_In_Serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForEach</display-name>
    <servlet-name>ForEach</servlet-name>
    <servlet-class>chap9.ForEach</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForEach</servlet-name>
    <url-pattern>/ForEach</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>COut</display-name>
    <servlet-name>COut</servlet-name>
    <servlet-class>chap9.COut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>COut</servlet-name>
    <url-pattern>/COut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CChoose</display-name>
    <servlet-name>CChoose</servlet-name>
    <servlet-class>chap9.CChoose</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CChoose</servlet-name>
    <url-pattern>/CChoose</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CSet</display-name>
    <servlet-name>CSet</servlet-name>
    <servlet-class>chap9.CSet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSet</servlet-name>
    <url-pattern>/CSet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cookie_Url_Serv</display-name>
    <servlet-name>Cookie_Url_Serv</servlet-name>
    <servlet-class>chap8.Cookie_UrlRe.Cookie_Url_Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookie_Url_Serv</servlet-name>
    <url-pattern>/Cookie_Url_Serv</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/Ch9GenericErrorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/Ch9HttpErrorPage.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>AdvisorTagHandler_Serv</display-name>
    <servlet-name>AdvisorTagHandler_Serv</servlet-name>
    <servlet-class>chap9.CustTag.AdvisorTagHandler_Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorTagHandler_Serv</servlet-name>
    <url-pattern>/AdvisorTagHandler_Serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ch9CIf_Serv</display-name>
    <servlet-name>Ch9CIf_Serv</servlet-name>
    <servlet-class>chap9.Ch9CIf_Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ch9CIf_Serv</servlet-name>
    <url-pattern>/Ch9CIf_Serv</url-pattern>
  </servlet-mapping>
  <listener>
    <description>this listner is used in chap5</description>
    <listener-class>chap5.MyServletContextListener</listener-class>
  </listener>
  <context-param>
    <description>this dog is used by above listener</description>
    <param-name>dogName</param-name>
    <param-value>Max</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ContextListening_Serv</display-name>
    <servlet-name>ContextListening_Serv</servlet-name>
    <servlet-class>chap5.ContextListening_Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextListening_Serv</servlet-name>
    <url-pattern>/ContextListening_Serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RememberMe_Serv</display-name>
    <servlet-name>RememberMe_Serv</servlet-name>
    <servlet-class>chap6.RememberMe_Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RememberMe_Serv</servlet-name>
    <url-pattern>/RememberMe_Serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>it sets the custom cookie </description>
    <display-name>Ch5CustomCookieSets_Serv</display-name>
    <servlet-name>Ch5CustomCookieSets_Serv</servlet-name>
    <servlet-class>chap5.Ch5CustomCookieSets_Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ch5CustomCookieSets_Serv</servlet-name>
    <url-pattern>/Ch5CustomCookieSets_Serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ch5CustomCookieGets_Serv</display-name>
    <servlet-name>Ch5CustomCookieGets_Serv</servlet-name>
    <servlet-class>chap5.Ch5CustomCookieGets_Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ch5CustomCookieGets_Serv</servlet-name>
    <url-pattern>/Ch5CustomCookieGets_Serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>relates to 3 listener classes</description>
    <display-name>Listener_Serv</display-name>
    <servlet-name>Listener_Serv</servlet-name>
    <servlet-class>chap6.Listener_Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listener_Serv</servlet-name>
    <url-pattern>/Listener_Serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SCS</display-name>
    <servlet-name>SCS</servlet-name>
    <servlet-class>chap8.ScopeCanSave.SCS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SCS</servlet-name>
    <url-pattern>/SCS</url-pattern>
  </servlet-mapping>
  <listener>
    <description>used in chap 6</description>
    <listener-class>chap6.SessionCounter</listener-class>
  </listener>
  <listener>
    <description>used in chap 6</description>
    <listener-class>chap6.AttributeListener</listener-class>
  </listener>
  <listener>
    <description>used in chap 6</description>
    <listener-class>chap6.BindingListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>SetAttribute</servlet-name>
    <jsp-file>/Ch7SetAtt.jsp</jsp-file>
    <init-param>
      <param-name>eMail</param-name>
      <param-value>abhimanyu.s.rathore@gmail.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetAttribute</servlet-name>
    <url-pattern>/SetAtt</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>mail id, that could be used by any one in app</description>
    <param-name>eMail</param-name>
    <param-value>abhimanyu.s.rathore@gmail.com</param-value>
  </context-param>
  <context-param>
    <description>This is used for Test386/Co_In_Serv</description>
    <param-name>email</param-name>
    <param-value>abhimanyu.s.rathore@gmail.com</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ReqParamAndHeaderInEL</display-name>
    <servlet-name>ReqParamAndHeaderInEL</servlet-name>
    <servlet-class>chap8.ReqParamAndHeaderInEL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqParamAndHeaderInEL</servlet-name>
    <url-pattern>/ReqParamAndHeaderInEL</url-pattern>
  </servlet-mapping>
</web-app>